.bus1
{
    width: 99%;
    height: 539px;
}
.bus24
{
    text-align: center;
    height: 37px;
    font-size: x-large;
    color: #FFFFFF;
}
.bus1121
{
    width: 50px;
    text-align: center;
    height: 5px;
}
.bus27
{
    height: 5px;
    width: 50px;
}
.bus1122
{
    width: 12px;
    height: 5px;
}
.bus9
{
    height: 5px;
    width: 60px;
}
.bus1123
{
    height: 5px;
}
.bus25
{
    text-align: center;
}
.bus1124
{
    width: 12px;
}
.bus18
{
    width: 40px;
    text-align: center;
}
.bus13
{
    text-align: center;
}
.bus2500
{
    text-align: left;
}
.bus250
{
    text-align: center;
}
.bus25000
{
    text-align: right;
}
.bus1125
{
    height: 5px;
    width: 36px;
}
.bus1126
{
    text-align: center;
    width: 36px;
}
